<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rest API</title>
</head>
<body>
<h1>=============== GET 요청 =================</h1>
<div style="display:flex">
    <form action="/get/res1" method="get">
        <h3>Get 전송 (required = true)</h3>
        이름: <input type="text" name="name">
        나이: <input type="text" name="age">
        <br>
        <button>Get 전송</button>
    </form>
    <form action="/get/res2" method="get">
        <h3>Get 전송 (required = false)</h3>
        <br>
        <button>Get 전송</button>
    </form>
    <div style="margin-right: 20px;">
        <h3>Get 전송 - ~/{param1}/{param2}</h3>
        <a href="/get/res3/홍길동/20">
            get/res3/홍길동/20
        </a>
        <br>
        <a href="/get/res3/홍길동">
            get/res3/홍길동 (error, 경로 변수 값 필수 확인)
        </a>
    </div>
    <div style="margin-right: 20px;">
        <h3>Get 전송 - ~/{name}, ~{name}/{age}</h3>
        <a href="/get/res4/바나나">
            get/res4/바나나
        </a>
        <br>
        <a href="get/res4/바나나/1">
            get/res4/바나나/1
        </a>
    </div>
</div>

<hr>

<h1>=============== POST 요청 =================</h1>
<form action="/post/res1" method="post">
    <h3>Post 전송 (required = true)</h3>
    이름: <input type="text" name="name">
    나이: <input type="text" name="age">
    <br>
    <button>Post 전송</button>
</form>
<form action="/post/res2" method="post">
    <h3>Post 전송 (required = false)</h3>
    이름: <input type="text" name="name">
    <br>
    <button>Post 전송</button>
</form>
<form action="/post/res3" method="post">
    <h3>Post 전송 (ResponseBody)</h3>
    이름: <input type="text" name="name">
    나이: <input type="text" name="age">
    <br>
    <button>Post 전송</button>
</form>

<h1>========== POST 요청 실습 ==========</h1>
<h3>폼 전송 - 실습</h3>
<form action="/post/prac" method="post">
    <div>이름 <input type="text" name="name"></div>
    <div>
        성별
        <input type="radio" value="남자" id="man" name="gender" />남자
        <input type="radio" value="여자" id="woman" name="gender" />여자
    </div>
    <br />
    <div>
        생년월일
        <select name="year" id="year">
            <option th:each="y: ${#numbers.sequence(1990, 2024)}" th:text="${y}"></option>
        </select>
        년
        <select name="month" id="month">
            <option th:each="m: ${#numbers.sequence(1, 12)}" th:text="${m}"></option>
        </select>
        월
        <select name="day" id="day">
            <option th:each="d: ${#numbers.sequence(1, 31)}" th:text="${d}"></option>
        </select>
        일
    </div>
    <br />
    <div>
        관심사
        <input type="checkbox" value="여행" name="hobby" id="travel" />여행
        <input type="checkbox" value="패션" name="hobby" id="style" />패션
        <input type="checkbox" value="음식" name="hobby" id="food" />음식
    </div>
    <button>전송</button>
</form>

<hr>

<h1>========== DTO 이용 ==========</h1>
<div style="display:flex">
    <form action="/dto/res1" method="get" style="margin-right: 20px;">
        <h3>Get - DTO</h3>
        이름: <input type="text" name="name"><br>
        나이: <input type="text" name="age">
        <br>
        <button>Get 전송</button>
    </form>
    <form action="/dto/res2" method="post" style="margin-right: 20px;">
        <h3>Post - DTO</h3>
        이름: <input type="text" name="name"><br>
        나이: <input type="text" name="age">
        <br>
        <button>Post 전송 (RequestBody X)</button>
    </form>
    <form action="/dto/res3" method="post" style="margin-right: 20px;">
        <h3>Post - DTO</h3>
        이름: <input type="text" name="name"><br>
        나이: <input type="text" name="age">
        <br>
        <button>Post 전송 (RequestBody O)</button>
    </form>
</div>
</body>
</html>