<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table { border: 1px solid black ;}
        tr, td { border: 1px solid black ;}
    </style>
</head>
<body>
    <h3>실습1</h3>
    <div>
        <p th:if="${age} < 20" th:text="${age} + '세는 미성년자입니다.'"></p>
        <p th:unless="${age} < 20" th:text="${age} + '세는 성인입니다.'"></p>
    </div>
    <div>
        <p th:if="${age2} < 20" th:text="${age2} + '세는 미성년자입니다.'"></p>
        <p th:unless="${age2} < 20" th:text="${age2} + '세는 성인입니다.'"></p>
    </div>

    <br><br>
    <h3>실습2</h3>
    <table>
        <tr><th>이름</th><th>나이</th></tr>
        <tr th:each="person: ${people}">
            <td th:text="${person.name}"></td>
            <td th:text="${person.age}"></td>
        </tr>
    </table>

</body>
</html>